<!DOCTYPE html>
<html>
    <head>
        <title>Посещение учеников</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
    </head>
    <body>
        <div class="left_menu">
            <ul>
                <a href="{{ url_for('mainpage') }}"><div class="pd"><div class="bor1"><li class="li1">Главная</li></div></div></a>
                <a><div class="clamped"><div class="bor1"><li class="li1">График посещаемости учеников дня недели</li></div></div></a>
                <a href="{{ url_for('studgr') }}"><div class="pd"><div class="bor1"><li class="li1">График посещения учеников</li></div></div></a>
                <a href="{{ url_for('studcl') }}"><div class="pd"><div class="bor1"><li class="li1">График посещения по классам</li></div></div></a>
                <a href="{{ url_for('Regpan') }}"><div class="pd"><div class="bor1"><li class="li1">Вход в систему</li></div></div></a>
            </ul>
        </div>
        <div class="right">
        {{ name }}
        </div>
    </body>
</html>
