<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/panel.css') }}">
    <title>{{ title }}</title>
</head> 
<body>
    <div class="panel">
        <div class="border">
            <div class="panel-pading">
                <div class="">
                    <div class="grd pt">
                        <a href="/provide_students_visiting" class="nullatr"><img src="/static/icons/1.png" class="icon"></img></a>
                        <a href="/provide_students_visiting" class="desc">График всех учеников </a>
                    </div>
                </div>
                <div class="">
                    <div class="grd pt">
                        <a href="/provide_grade_visitings" class=""><img src="/static/icons/2.png" class="icon"></img></a>
                        <a href="/provide_grade_visitings" class="desc">График классов </a>
                    </div>
                </div>
                <div class="">
                    <div class="grd pt">
                        <a href="/provide_student_visiting" class=""><img src="/static/icons/3.png" class="icon"></img></a>
                        <a href="/provide_student_visiting" class="desc"><div>Поиск ученика</div>010</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>