<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/panel.css') }}">
    <title>{{ title }}</title>
</head> 
<body>
    <div class="panel">
        <div class="border">
            <div class="panel-pading">
                <div class="">
                    <div class="grd pt">
                        <a href="/" class="nullatr">
                            <img src="/static/icons/main.png" class="icon"></img>
                        </a>
                        <a href="/" class="desc lnk">
                            <div>Главная страница</div>
                        </a>
                    </div>
                </div>
                <div class="">
                    <div class="grd pt">
                        <a href="/provide_students_visiting" class="nullatr">
                            <img src="/static/icons/1.png" class="icon"></img>
                        </a>
                        <a href="/provide_students_visiting" class="desc lnk">
                            <div>График всех учеников</div>
                        </a>
                    </div>
                </div>
                <div class="">
                    <div class="grd pt">
                        <a href="/provide_grades_visitings" class="nullatr">
                            <img src="/static/icons/2.png" class="icon"></img>
                        </a>
                        <a href="/provide_grades_visitings" class="desc lnk">
                            <div>График классов</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>