{% extends "panel.html" %}

{% block content %}
<div>
    <div>

    </div>
    <div class="WeekDays">
        {% for day in visits[0] %}
            <div class="Weekday">
                <div class="weekDay">
                    {{ day }}
                </div>
            </div>
        {% endfor %}
        {% for day in visits[1] %}
            <div class="HumanDay">
                <div class="Humanday">
                    {% if day[1] == True %}
                        <div class="Green">
                            <div>
                                Был
                            </div>
                            <div>
                                Время входа: {{ day[0] }}
                            </div>
                        </div>
                    {% elif day[0] == "None data" %}
                    <div class="AlertRed">
                        Нет данных
                    </div>
                    {% else %}
                    <div class="Red">
                        <div>
                            Не Был  
                        </div>
                        <div>
                            Время входа: {{ day[0] }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}