body {
    padding: 0%;
    margin: 0%;
}
.nullatr {
    padding: 0%;
    margin: 0%;
}
.flx {
    display: flex;
}
.grd {
    display: grid;
    grid-template-columns: 100% 0%;
}
.pt {
    padding: 0vb;
    margin-top: 0vb;
    margin-left: 0vb;
    margin-bottom: 0vb;
    margin-right: 0vb;
}
.lf {
    float: left;    
}
.inl {
    display: inline;
}
.icon {
    width: 90%;
    border: 0.2vw solid green;
    border-radius: 20%;
}
.desc{
    margin: 0%;
    padding: 0%;
    visibility: hidden;
    font-size: 1vw;
}
.view {
    display: flex;
    padding: 0%;
}
.panel {
    z-index: 2;
    float: left;
    width: 4%;
    position: fixed;
    background-color: rgb(201, 201, 201);

}
.content {
    float: right;
    width: 96%;
}
.border {
    border-right: 0.5vw solid gray;
    border-top: 0.5vw solid gray;
    height: 200vw;
}
.panel:hover{
    z-index: 2;
    width: 8%;
    float: left;
    position: fixed;
}
.panel:hover ~ .content{
    float: right;
    width: 91%;
}
.panel:hover .icon{
    width: 90%;
    border: 0.2vw solid green;
    border-radius: 20%;
}
.panel:hover .grd{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 6%;
}
.panel:hover .desc{
    margin: 0%;
    padding: 0%;
    visibility: visible;
    font-size: 1vw;
}
.panel:hover .pt{
    padding: 0.2vb;
    margin-top: 0vb;
    margin-left: 0vb;
    margin-bottom: 0vb;
    margin-right: 0vb;
}
.need {
    width: 1200px;
    padding-left: 10%;
    padding-top: 0%;
}


/* Theese css styles will be separated to other css tables */


.WeekDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.Weekday {
    padding: 2%;
    align-self: center;
    text-align: center;
}
.weekDay {
    background-color: burlywood;
}
.HumanDay {
    align-self: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}
.Humanday {
    border: 0.1vb solid black ;
}
.Green {
    background-color: rgba(125, 233, 125, 0.8);
}
.Red {
    background-color: rgba(240, 128, 128, 0.8);
}
.AlertRed {
    background-color: rgb(255, 17, 0);
}